<ion-content>
  <div class="header">
    <h1>Edit Profile</h1> 
  </div>

  <ion-item>
    <ion-label position="floating">Nama</ion-label>
    <ion-input placeholder="Masukkan Text"></ion-input>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Kategori Makanan</ion-label>
      <ion-select interface="popover" placeholder="Pilih">
        <ion-select-option value="apples">Makanan</ion-select-option>
        <ion-select-option value="oranges">Minuman</ion-select-option>
        <ion-select-option value="bananas">Lainnya</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  

</ion-content> -->

